// Import des variables globales pour les thèmes
@import '@/globals.css';

// Variables locales
$border-radius: 10px;
$gradient-size: 1000px;

// Keyframes pour l'animation de rotation
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Mixins pour le gradient animé
@mixin laser-gradient($color, $delay: 0s) {
  content: '';
  position: absolute;
  width: $gradient-size;
  height: $gradient-size;
  background-image: conic-gradient(transparent, transparent, transparent, $color);
  animation: rotate 4s linear infinite;
  animation-delay: $delay;
  z-index: -1; // L'animation doit être derrière
  border-radius: inherit; // Suivre les bordures de .laserbox-container
}

// Container principal (fausse bordure de 4px autour)
.laserbox-container {
  position: relative;
  width: calc(100% + 8px);  // Largeur de .laserbox + 4px de chaque côté
  height: calc(100% + 8px); // Hauteur de .laserbox + 4px de chaque côté
  background: transparent;  // Le fond de la bordure
  border-radius: $border-radius;
  display: grid;
  place-items: center;
  overflow: hidden; // Empêche les débordements des gradients
  z-index: 4;

  &::before {
    @include laser-gradient(rgba(252, 77, 77, 0.6));
  }

  &::after {
    @include laser-gradient(rgba(55, 153, 36, 0.9), -2s);
  }
}

// Contenu de la box
.laserbox {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  background: var(--background);  // Défini dans globals.css
  box-shadow: var(--standard) -5px 3px 5px;
  z-index: 5;
  display: grid;
  place-items: center;
  overflow: hidden; // Précaution pour éviter que le contenu dépasse

  // Ajustement de la taille de .laserbox pour qu'il soit toujours 4px plus petit que .laserbox-container
  // Par exemple : .laserbox-container a 100% de largeur, et .laserbox aura 100% de la largeur de .laserbox-container - 8px (4px de chaque côté)
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}
